{% extends "_page.html" %}
{%hyde
    title: "Contact"
%}
{% block article %}

<hr />

<strong>James Willcox</strong>

Email and GTalk: <a href="mailto:snorp@snorp.net">snorp@snorp.net</a>

<a class="nohighlight" href="http://facebook.com/snorp"><img src="/media/images/facebook_icon.png" title="Facebook profile"></a>
<a class="nohighlight" href="http://twitter.com/snorp"><img src="/media/images/twitter_icon.png" title="Twitter stream"></a>
<a class="nohighlight" href="http://www.linkedin.com/in/snorp"><img src="/media/images/linkedin_icon.png" title="LinkedIn profile"></a>

    
{% endblock %}