{% extends "skeleton/_body.html" %}
{%hyde
    title: "James Willcox"
    created: 2010-06-07 03:17:05
    frontpage: True
%}

{% block content_header %}{% endblock %}
{% block content_body %}

{%recent_posts recents 5 %}
{%for node in recents %}
{% ifequal node.module.name "blog" %}
<div class="post">
    <div class="post_title">
        <a href="{{node.url}}">{{node.title}}</a>
        <span class="post_date">{{node.created|date:"Y-m-d"}}</span>
    </div>
    <div class="post_content">
        {% render_article node %}
    </div>
</div>
{% endifequal %}
{%endfor%}

{%endblock%}