
{% extends "_post.html" %}
{%hyde
    title: "Lots of Stuff"
    created: 2004-03-26 13:48:46
%}

{% block article %}
{%article%}

<p>So, haven&#8217;t blogged in a pretty long time.  Lots has happened.  Most notably, I got engaged to my long-time girlfriend, Amy!  We set the date for July.  I&#8217;m really happy!  :)</p>
<p>Just got back from BrainShare.  It was pretty cool.  I took some pics, but I don&#8217;t have them pulled off the camera yet.  I think we were all kind of in awe about the number of Large Monkey Buttons plastered all over :)</p>
<div align="center"><a href="http://www.snorp.net/files/photos/floor-button.png"><img src="http://www.snorp.net/files/photos/floor-button-thumb.png"/></a><br><i>the floor near the mono booth</i></div>

{%endarticle%}
{% endblock %}

