<div id="sidebar">
    <h4><span>recent</span> tweets</h4>
    <div id="tweet_container">
        <span id="fetching_tweets" class="message">Fetching tweets...</span>
    </div>
    <a class="nohighlight" href="{{site.url}}/feed"><img id="subscribe_button" src="/media/images/subscribe.png" alt="Subscribe to feed" /></a>
    <h4><span>Links</span></h4> 
	<ul class="links"> 
        <li><a href="http://flickr.com/photos/snorp" target="_blank">Flickr</a></li> 
        <li><a href="http://facebook.com/snorp" target="_blank">Facebook</a></li>
        <li><a href="http://www.linkedin.com/in/snorp" target="_blank">LinkedIn</a></li>
        <li><a href="http://litl.com" target="_blank">litl</a></li> 
        <li><a href="http://novell.com" target="_blank">Novell</a></li>
        <li><a href="http://gnome.org" target="_blank">GNOME</a></li>
    </ul>
    <script type="text/javascript"><!--
    google_ad_client = "pub-3882020247390018";
    /* 160x600, created 1/28/08 */
    google_ad_slot = "0726563905";
    google_ad_width = 160;
    google_ad_height = 600;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
    
</div>
<div id="footer">
    Copyright 2003-2010 James Willcox. <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/us/">Some rights reserved</a>
</div>
