<div id="sidebar">
    <h4><span>recent</span> tweets</h4>
    <div id="tweet_container">
        <span class="message">Fetching tweets...</span>
    </div>
    <h4><span>Links</span></h4> 
	<ul class="links"> 
        <li><a href="http://flickr.com/photos/snorp" target="_blank">Flickr</a></li> 
        <li><a href="http://facebook.com/snorp" target="_blank">Facebook</a></li>
        <li><a href="http://www.linkedin.com/in/snorp" target="_blank">LinkedIn</a></li>
        <li><a href="http://litl.com" target="_blank">litl</a></li> 
        <li><a href="http://novell.com" target="_blank">Novell</a></li>
        <li><a href="http://gnome.org" target="_blank">GNOME</a></li>
        
    </ul>
    <script type="text/javascript"><!--
    google_ad_client = "pub-3882020247390018";
    /* 160x600, created 1/28/08 */
    google_ad_slot = "0726563905";
    google_ad_width = 160;
    google_ad_height = 600;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
</div>
<div id="footer">
    This is the footer
</div>
