<div id="header">
    <div id="header_content">
        <a href="{{site.listing_url}}">snorp.net</a> <span id="header_subtext">home of <a href="mailto:snorp@snorp.net">James Willcox</a></span>
    </div>

    {% block sitenav %}
    <ul id="header_buttons">
        <li{% ifequal page.module site.module %} class="selected" {% endifequal %} data-href="{{site.listing_url}}">
            Home
        </li>    
        {% for module in site.children %}
            <li{% ifequal page.url module.listing_url %} class="selected" {% endifequal %} data-href="{{module.listing_url}}">
                {% ifequal module.name "blog" %}
                    Archives
                {% else %}
                    {{module.name|unslugify}}
                {% endifequal %}
            </li>
         {% endfor %}
    </ul>
    {% endblock %}
</div>
<div id="header_spacer"></div>