
{% extends "_post.html" %}
{%hyde
    title: "what's that on your face?"
    created: 2003-09-19 20:58:37
%}

{% block article %}
{%article%}

<p>See, I knew I wouldn&#8217;t keep this thing updated.</p><p>
<p>Going to Boston again on Sunday.  Mucho trabajo to do.  Things have been going pretty well, though.</p><p><br />
A week or so ago I was messing around with creating panel applets in C#.  Originally, I tried to wrap PanelApplet, but that didn&#8217;t go so well.  I ended up writing some super hacky C glue to do the job.  It worked pretty well.  I think if I get a chance I might look at trying to wrap PanelApplet again.  It really shouldn&#8217;t be that hard.  After all, PanelApplet is pretty much a standard GObject.</p><p><br />
I started on a tutorial on writing nautilus context menus and property pages in python.  I&#8217;ve wanted to do this for a while now.  These components are super easy to write in python.  Plus you can do hella cool stuff with them, so I think it may be attractive to newbies.</p></p>

{%endarticle%}
{% endblock %}

